<% provide(:title, I18n.t('static_pages.help.header')) %>
<h1><%= I18n.t('static_pages.help.header') %></h1>

<p>
  <ul>
    <li>
      <%= link_to 'Ruby documentation', 'https://www.ruby-lang.org/en/documentation/' %>
    </li>
    <li>
      <%= link_to 'Ruby on Rails docs', 'https://rubyonrails.org/docs' %>
    </li>
    <li>
      <%= link_to 'Ruby on Rails guides', 'https://guides.rubyonrails.org/' %>
    </li>
  </ul>
</p>

<p>
  <%= link_to I18n.t('any_issues'), 'https://github.com/rakvium/blog' %>
</p>

<p>
  <%= link_to 'ðŸ“ðŸ› ï¸', 'https://github.com/rakvium/blog/blob/master/app/views/static_pages/help.html.erb' %>
</p>
