<div>
  <h1>
   <%= @post.title %>
  </h1>
  <p>   
   <%= @post.text %>
  </p>
  <p>
    <em>
      Post added by <%= @user.first_name %> <%= @user.last_name %> at <%= @post.created_at.asctime %> 
    </em>
  </p>
  <% if can? :update, @post %>
    <%= link_to 'Edit', edit_post_path(@post), :class=>'btn btn-sm btn-success icon-edit'%>
    <% end %>
</div>

<div class="container comment">

<h3>
 Comments
</h3>
<% @comments.each do |c| %>
<hr>
<p>
  <em>
    <%= c.user.first_name %> <%= c.user.last_name %> at <%=c.created_at.asctime%> wrote:
  </em>
</p>
<p>
  <%= c.body %>
</p>
<p>
  <%= link_to ' Destroy Comment', [c.post, c],
               method: :delete,
               data: { confirm: 'Are you sure you want to delete this comment?'},
               :class=>'btn btn-sm btn-danger icon-remove-sign'%>
</p>
<% end %>

<h2>
 Add a comment:
</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
 <% if user_signed_in? %> 
 <%= f.hidden_field :user_id, :value => current_user.id %>
     <%= "Comment as #{current_user.first_name} #{current_user.last_name}\:" %>
  <p>    
    <%= f.text_area :body, :required => true %>
  </p>
  <p>
    <%= f.submit :class=>'btn btn-lg btn-success'%>
  </p>
 <% else %>
  <p class="center">
    <%= link_to "Sign in to add a comment", new_user_session_path %>
  </p>
 <% end %>
<% end %>
<%= link_to ' Back to The Great Listing Of All Of The Posts', posts_path, :class=>'btn btn-sm btn-warning icon-chevron-left' %>
</div>

