<div class="post">
  <div class="text-left">
    <em>
      <code>
        <%= "#{full_name(@user)} | #{my_date_format(@post.created_at)}" %>
      </code>
    </em>
  </div>
  <div class="col-md-6 text-right">
    <% if @post.created_at.to_i != @post.updated_at.to_i %>
      <em>
        <code>
          📝: <%= my_date_format(@post.updated_at) %>
        </code>
      </em>
    <% end %>
  </div>
  <div class="col-md-12">
    <h1>
      <%= @post.title %>
    </h1>
    <div class="lead">
      <p>
        <%= @post.text %>
      </p>
    </div>
  </div>
  <div class="btn-group">
    <% if can? :update, @post %>
      <%= link_to "📝 #{I18n.t('posts.show.edit')}", edit_post_path(@post), class: 'btn btn-sm btn-success'%>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to "❌ #{I18n.t('posts.show.destroy')}",
                  post_path(@post),
                  method: :delete, data: { confirm: I18n.t('posts.show.are_you_sure') },
                  class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
</div>


<div class="comment">
<h2>
 <%= I18n.t('comments.header') %>
</h2>
<% @comments.each do |c| %>
  <hr>
  <p>
    <em>
      <%= "#{full_name(c.user)} #{my_date_format(c.created_at)}:" %>
    </em>
  </p>
  <p>
    <%= c.body %>
  </p>
  <% if can? :destroy, c %>
    <p>
      <%= link_to "❌ #{I18n.t('comments.destroy')}", [c.post, c],
                   method: :delete,
                   data: { confirm: I18n.t('comments.are_you_sure') },
                   class: 'btn btn-sm btn-danger'%>
    </p>
  <% end %>
<% end %>

<% if can? :create, Comment %>
<h2>
  <%= I18n.t('comments.add') %>
</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>

  <%= "#{current_user.name}:" %>
  <p>
    <%= f.text_area :body, required: true %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-lg btn-success'%>
  </p>
  <% end %>
 <% else %>
  <p>
    <%= link_to I18n.t('comments.sign_in'), new_user_session_path, class: 'btn btn-lg btn-primary'  %>
  </p>

<% end %>
<%= link_to "⬅️ #{I18n.t('posts.new.back')}", posts_path, class: 'btn btn-sm btn-warning' %>
</div>
