<footer class="pull-right">
  <nav>
    <ul>
      <li><a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl</li>
      <li><%= link_to I18n.t('static_pages.about.header'), static_pages_about_path %></li>
      <li><%= link_to I18n.t('static_pages.contact.header'), static_pages_contact_path %></li>
      <li><%= link_to I18n.t('static_pages.help.header'), static_pages_help_path %></li>
      <li><a href="http://news.railstutorial.org/" target="blank"><%= I18n.t("news") %></a></li>
      <li><%= link_to 'GraphQL API', '/graphql-docs', target: '_blank' %></li>
    </ul>
  </nav>
</footer>
