<header>
  <div class="header-first-row">
    <%= link_to 'ðŸŒ Blog', url_for(locale: I18n.locale), hreflang: I18n.locale, id: 'logo' %>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "ðŸ‘¤âš™ï¸ #{I18n.t('hello', name: current_user.first_name)}",
                        edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "ðŸšªðŸš¶#{t('devise.registrations.edit.unhappy')}",
                destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to 'ðŸ“ Sign up', new_user_registration_path %></li>
          <li><%= link_to 'ðŸšª Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <br />
  <nav>
    <ul>
      <% I18n.available_locales.each do |locale| %>
        <li>
          <%= link_to I18n.backend.translate(locale, 'language_name'),
                      url_for(locale: locale),
                      class: "#{'active' if locale == I18n.locale}",
                      hreflang: locale %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
