<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= ['Blog', yield(:title).presence].compact.join(' | ') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",               "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <content><%= yield %></content>
  <%= render 'layouts/footer' %>
</body>
</html>
